html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Mossport; /* Гарнитура шрифта */
  src: url(../public/fonts/Mossport.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Gotham Pro Bold; /* Гарнитура шрифта */
  src: url(../public/fonts/GothaProBol.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Gotham Pro Medium; /* Гарнитура шрифта */
  src: url(../public/fonts/GothaProMed.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Gotham Pro Light; /* Гарнитура шрифта */
  src: url(../public/fonts/GothaProLig.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Gotham Pro Regular; /* Гарнитура шрифта */
  src: url(../public/fonts/GothaProReg.otf); /* Путь к файлу со шрифтом */
}


@font-face {
  font-family: Cover; /* Гарнитура шрифта */
  src: url(../public/fonts/Cover.otf); /* Путь к файлу со шрифтом */
}